#saffron{
    background-color: #F4C430;
    width:33%;
    height: 50px;
    border: 2px solid black;
}
#white{
    background-color: white;
    width:33%;
    height: 50px;
    border: 2px solid black;
}
#green{
    background-color: green;
    width:33%;
    height: 50px;
    border: 2px solid black;
}






