 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.containerOne{
    color: blue;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items:center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 0px violet;
}
.containerTwo{
    color: whitesmoke;
    padding: 5px;
    padding-left: 20px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 0px violet;
}
input{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}
button{
    padding: 10px;
    background-color: purple;
    border-radius: 6px;
    color: whitesmoke;
}
img{
    border-radius: 20px;
}
.hidden{
    display: none;
}