.container{
    margin: 200px auto;
    display: grid;
    height: 140px;
    width: 400px;
    border: 3px solid black;
    grid-template-rows: 10fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}
.top{
border: 1px solid red;
grid-column-start: 1;
grid-column-end: 4;
text-align: center;
font-size: xx-large;
}
.bottom{
border: 1px solid red;
}
input{
width: 97%;
grid-column-start: 1;
grid-column-end: 3;
}
button{
    width: 100%;
    grid-column-start: 3;
grid-column-end: 4;
}
.result{
    height: 400px;
    width: 600px;
    margin: 100px auto;   
    border: 3px solid black;
    text-align: center;
    line-height: 180px;
}
.show{
    display: inline-block;
    width: 150px;
    height: 30px;
}
.pic{
    display: inline-block;
    width: 200px;
    height: 170px;
}
